<section class="flex justify-between">
    <%= render partial: "shared/button", locals: { path: 'daily', text: "Daily" } %>
    <%= render partial: "shared/button", locals: { path: 'random', text: "Random" } %>
</section>
