<%= link_to path, class: "bg-gradient-to-r from-zinc-900 via-gray-900 to-slate-900 rounded-xl shadow-2xl backdrop-filter backdrop-blur-lg" do %>
    <div class="flex justify-center items-center">
        <%= render partial: "shared/text_h3", locals: { text: text } %>
    </div>
<% end %>
