<div class="flex justify-center items-center">
  <h1 class="font-bold text-4xl">
    <%= render partial: "shared/gemle_title", locals: { img_css_class: "w-48 h-48 ml-4" } %>
    <%= render "components/landing_middle_section" %>
  </h1>
</div>
